{% extends 'website/main.html' %}

{% block sajufortune_main %}
<a href="{% url 'website:main' %}"><p class="sajufortune_text">SajuFortune</p></a>
{% endblock %}

{% block birthday_selecting %}Birthday Selecting{% endblock %}

<div class="text-center">
    {% block today %}
        <a class="fa btn_saju btn_today_or_other" href="#">Today</a>
    {% endblock %}
</div>
<div class="btn_padder"></div>
<div class="text-center">
    {% block tomorrow %}
        <a class="fa btn_saju btn_today_or_other" href="#">Tomorrow</a>
    {% endblock %}
</div>
<div class="btn_padder"></div>

<div class="text-center">
    {% block dayaftertomorrow %}
        <a class="fa btn_saju btn_today_or_other" href="#">DayAfterTomorrow</a>
    {% endblock %}
</div>

{% block select_language %}
    <a type="button" class="fa btn_saju width_100percent" href="#" style="height: 34px; margin-top: 0px;">
    choose
    </a>
{% endblock %}