{% extends 'celebrity/list/celeb_list_eng.html' %}
{% block lang_code %}
<html lang="pt">
{% endblock %}

        {% block title %}SajuFortune lista de celebridades{% endblock %}

            {% block about_saju %}
                <a href="{% url 'celebrity:list_text' lang=lang %}?f={{ celebs.number }}"><p class="h3 about_saju">lista sem foto</p></a>
            {% endblock %}
{% block celebs %}
        {% if celebs %}
            {% if celebs|length < 10 %}
                {% for celeb in celebs %}
                    {% include 'snippet/celeb/square_list/_celeb_square_list_por.html' %}
                {% endfor %}
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
            {% else %}
                {% for celeb in celebs %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_por.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_por.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_por.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
{% endblock %}
