<!DOCTYPE html>
{% block lang_code %}
    <html lang="en">
{% endblock %}
<head>
    {% include 'snippet/others/header_static.html' %}
    <title>{% block title %}SajuFortune Celebrities -{{ celebs.number }}{% endblock %}</title>
    {% include 'snippet/others/favicon.html' %}

    {% block meta %}
        <meta name="keywords" content="saju, sajufortune, fortune, horoscope, astrology, celebrity"/>
        <meta name="author" content="SajuFortune"/>
        <meta name="title" content="SajuFortune"/>

        <meta name="description" content="Celebrities -{{ celebs.number }}"/>

        <meta property="og:url" content="https://www.sajufortune.com{{ request.get_full_path }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="SajuFortune"/>
        <meta property="og:site_name" content="SajuFortune"/>
        <meta property="og:description" content="Celebrities -{{ celebs.number }}"/>

        <meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>
        <meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@SajuFortune"/>
        <meta name="twitter:creator" content="@SajuFortune">

        <meta property="fb:app_id" content="2043859895827697"/>
    {% endblock %}
</head>
<style>

</style>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <p class="sajufortune_text">
                    <a class="text_hover_none ban_bs_text_link" href="{% url 'website:main_lang' lang=lang %}">
                        SajuFortune
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12">
            {% include 'ad/_ad_banner.html' %}
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {% block list_without_photo %}
                <a href="{% url 'celebrity:list_text' lang=lang %}?f={{ celebs.number }}"><p class="h3 about_saju">list
                    without photo</p></a>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
    </div>

    <div class="row">
        {% block celebs %}
            {% if celebs %}
                {% if celebs|length < 10 %}
                    {% for celeb in celebs %}
                        {% include 'snippet/celeb/square_list/_celeb_square_list_eng.html' %}
                    {% endfor %}
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                {% else %}
                    {% for celeb in celebs %}
                        {% if forloop.counter0 == 2 %}
                            {% include 'snippet/celeb/square_list/_celeb_square_list_eng.html' %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% elif forloop.counter0 == 6 %}
                            {% include 'snippet/celeb/square_list/_celeb_square_list_eng.html' %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% else %}
                            {% include 'snippet/celeb/square_list/_celeb_square_list_eng.html' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-xs-4">
                <div class="text-center">
                    {% if celebs.has_previous %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'celebrity:list' lang=lang page=celebs.previous_page_number %}">
                            <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    <a type="button" class="width_80percent">
                        <p class="sajufortune_color"><b>{{ celebs.number }}</b></p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    {% if celebs.has_next %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'celebrity:list' lang=lang page=celebs.next_page_number %}">
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% else %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
</div>
{% include 'snippet/others/bootstrap_tester.html' %}

</body>
<script>
</script>
</html>