{% extends 'celebrity/list/celeb_text_list_eng.html' %}
{% block lang_code %}
<html lang="pt">
{% endblock %}
        
{% block title %}Sajufortune lista de celebridades sin foto {{ celebs.number }}{% endblock %}

{% block about_saju %}
    {% if request.GET.f %}
    <a href="{% url 'celebrity:list' lang=lang page=request.GET.f %}"><p class="h3 about_saju">de volta à lista com foto</p>
    {% else %}
    <a href="{% url 'celebrity:list' lang=lang page='1' %}"><p class="h3 about_saju">de volta à lista com foto</p>
    {% endif %}
    </a>
{% endblock %}


{% block celebs %}
<!--이건 더미 정사각형-->
<div class="media">

    {% if celebs %}
        {% for celeb in celebs %}
            {% if forloop.counter0|divisibleby:'40' %}
                <div class="col-xs-12 padding_side_5">
                    <br>
                    {% include 'ad/_ad_square_detail.html' %}
                    <br>
                </div>

                <div class="col-sm-4">
                    <div class="media-body">
                        <p class="media-heading h3 text-center">
                            <a class="inherit_color" href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">{{ celeb.celebrityportuguese.name }}</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-4">
                    <div class="media-body">
                        <p class="media-heading h3 text-center">
                            <a class="inherit_color" href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">{{ celeb.celebrityportuguese.name }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
