<!DOCTYPE html>
{% block lang_code %}
<html lang="en">
{% endblock %}
<head>
    <title>{% block title %}Title{% endblock %}</title>

    {% include 'snippet/others/header_static.html' %}

</head>
<style>

</style>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <p class="sajufortune_text">
                    <a class="text_hover_none ban_bs_text_link" href="{% url 'website:main_lang' lang=lang %}">
                    SajuFortune
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12">
            {% include 'ad/_ad_banner.html' %}
        </div>
    </div>
    <!--forloop counter를쓰자-->
    <!--페이지는 12개불러오면 13개까지 불러와보고 12개만 보낸 후에 라스트인지 아닌지 변수를 자바스크립트로 보내서 넥스트 누를 시에 마지막페이지면 마지막페이지라고 알리는 형식
    get 요청 파라미터로 페이지 순서 부르더라도 없는 페이지 부르면 404리다이렉트-->


    <div class="row">

        <div class="btn_padder"></div>

    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {% block about_saju %}
                <a href="{% url 'celebrity:list_text' lang=lang %}?f={{ celebs.number }}"><p class="h3 about_saju">list without photo</p></a>
            {% endblock %}
        </div>
    </div>
    <!--여기서부턴 정사각형 목록-->

    <!--row 당 2개씩 -->
    <div class="row">
        <div class="btn_padder"></div>
    </div>

    <div class="row">
        <!--이건 더미 정사각형-->
{% block celebs %}
        {% if celebs %}
            {% if celebs|length < 10 %}
                {% for celeb in celebs %}
                    {% include 'snippet/celeb/square_list/_celeb_square_list_eng.html' %}
                {% endfor %}
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
            {% else %}
                {% for celeb in celebs %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_eng.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_eng.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_eng.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
{% endblock %}
    </div>
    <!-- more btn -->

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-xs-4">
                <div class="text-center">
                    {% if celebs.has_previous %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'celebrity:list' lang=lang page=celebs.previous_page_number %}">
                            <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    <a type="button" class="width_80percent">
                        <p class="sajufortune_color"><b>{{ celebs.number }}</b></p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    {% if celebs.has_next %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'celebrity:list' lang=lang page=celebs.next_page_number %}">
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% else %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
</div>
{% include 'snippet/others/bootstrap_tester.html' %}

</body>
<script>
</script>
</html>