{% extends 'website/about/about_eng.html' %}
{% block lang_code %}
<html lang="pt">
{% endblock %}

{% block title %}SajuFortune - sobre SajuFortune{% endblock %}


{% block what_is_saju %}O que é o Saju?{% endblock %}
{% block saju_detail %}Saju é uma fortuna oriental. É semelhante a uma carta de tarô ou horóscopo. Baseado em aniversários.{% endblock %}
{% block birthday_selecting %}Seleção de Aniversário{% endblock %}
{% block year %}Ano{% endblock %}
{% block month %}Mês{% endblock %}
{% block day %}Dia{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_por.html' %}
{% endblock %}

{% block posts %}Postagens{% endblock %}
{% block celebrities %}Celebrities{% endblock %}
{% block back_to_main %}De volta ao principal{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="Por favor, você escolheria seu aniversário?"></div>
{% endblock %}

