{% extends 'website/about/about_eng.html' %}
{% block lang_code %}
<html lang="es">
{% endblock %}

{% block title %}SajuFortune - acerca de{% endblock %}


{% block what_is_saju %}Qué es Saju?{% endblock %}
{% block saju_detail %}Saju es una fortuna oriental. Es similar a una carta de tarot u horóscopo. Basado en cumpleaños{% endblock %}
{% block birthday_selecting %}Seleção de Aniversário{% endblock %}
{% block year %}Año{% endblock %}
{% block month %}Mes{% endblock %}
{% block day %}Día{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_spa.html' %}
{% endblock %}

{% block posts %}Publicaciones{% endblock %}
{% block celebrities %}Famosos{% endblock %}
{% block back_to_main %}Volver al inicio de{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="Por favor, ¿elegirías tu cumpleaños?"></div>
{% endblock %}

