{% extends 'website/about/about_eng.html' %}
{% block lang_code %}
<html lang="zh-cn">
{% endblock %}

{% block title %}SajuFortune - 关于{% endblock %}


{% block what_is_saju %}什么是Saju？{% endblock %}
{% block saju_detail %}Saju是东方的财富。它类似于塔罗牌或占星术。基于生日。{% endblock %}
{% block birthday_selecting %}生日选择{% endblock %}
{% block year %}年{% endblock %}
{% block month %}月{% endblock %}
{% block day %}天{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_chi.html' %}
{% endblock %}

{% block posts %}帖子{% endblock %}
{% block celebrities %}名人{% endblock %}
{% block back_to_main %}返回主页{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="请你选择你的生日？"></div>
{% endblock %}

