                        <div class="center-block square_list_wrapper">
                            <!-- 이미지인데 여기서 이미지는 이미지 자체가 350*250이다 -->

                            {% if request.GET.f %}
                                <a href="{% url 'post:detail' lang=lang num=post.pk %}?f={{ request.GET.f }}">
                            {% else %}
                                <a href="{% url 'post:detail' lang=lang num=post.pk %}">
                            {% endif %}
                            {% if post.photo %}
                                <img class="img_350_250 img_clickable" src="{{ post.photo.url }}">
                            {% else %}
                                <div class="text-center">
                                    <div class="fa btn_saju img_clickable img_350_250">
                                        Sorry, No Image
                                    </div>
                                </div>
                            {% endif %}
                            </a>
                            <!-- text -->
                            <div class="text-center">
                                {% if request.GET.f %}
                                    <p class="h5 list_text inherit_color">
                                        <a class="ban_bs_text_link" href="{% url 'post:detail' lang=lang num=post.pk %}?f={{ request.GET.f }}">
                                            {{ post.postportuguse.title }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="h5 list_text inherit_color">
                                        <a class="ban_bs_text_link" href="{% url 'post:detail' lang=lang num=post.pk %}?f={{ request.GET.f }}">
                                            {{ post.postportuguese.title }}
                                        </a>
                                    </p>
                                {% endif %}

                            </div>
                        </div>