{% extends 'celebrity/profile/celeb_profile_eng.html' %}
{% block lang_code %}
<html lang="ar">
{% endblock %}
{% block title %}SajuFortune - {{ celeb.celebrityarabic.name }}{% endblock %}

{% block celeb %}
{% if celeb %}
    <div class="row">
        <!--이건 더미 정사각형-->
        <div class="center-block square_list_wrapper">
            <!-- 이미지인데 여기서 이미지는 이미지 자체가 350*250이다 -->
            {% if celeb.photo %}
                <img class="img_350_250" src="{{ celeb.photo.url }}">
            {% else %}
                <div class="text-center">
                    <div class="fa btn_saju img_350_250">
                        Sorry, No Image
                    </div>
                </div>
            {% endif %}
            <!-- text -->
            {% block info %}
            <div class="text-center">
                <p class="h3 list_text">
                {{ celeb.celebrityarabic.name }}</p>
            </div>
            <div class="text-center">
                <p class="h4 list_text">
                عيد ميلاد{{ celeb.birthday_year }}-{{ celeb.birthday_month }}-{{ celeb.birthday_day }}</p>
            </div>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 padding_side_5">
            {% include 'ad/_ad_square_detail.html' %}
        </div>
    </div>
{% endif %}
    <!--row 당 2개씩 -->
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
{% endblock %}

{% block posts %}
    {% if posts %}
    <div class="row">
        <div class="media">
            <div class="media-body text-center">
                <p class="media-heading h4">
                    {{ celeb.celebrityarabic.name }} المشاركات
                </p>

            </div>
            <br>
        </div>
        <!--이건 더미 정사각형-->
            {% for post in posts %}
                {% if posts|length == 1 %}
                    <div class="col-sm-6 col-sm-offset-3 padding_side_5">
                        {% include 'snippet/celeb/square_in_profile/_celeb_square_in_profile_ara.html' %}
                    </div>
                {% else %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/celeb/square_in_profile/_celeb_square_in_profile_ara.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/celeb/square_in_profile/_celeb_square_in_profile_ara.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/celeb/square_in_profile/_celeb_square_in_profile_ara.html' %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block go_list %}
    <span class="glyphicon glyphicon glyphicon glyphicon-th-large"></span><span>  قائمة</span>
{% endblock %}

{% block who_s %}
<p class="h3 list_text">
{{ celeb.celebrityarabic.name }} ..</p>
{% endblock %}

{% block buttons_day %}
{% include 'snippet/buttons/_buttons_day_ara.html' %}
{% endblock %}
{% block more_posts %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'post:list' lang=lang page='1' %}">المزيد من المشاركات</a>
{% endblock %}
{% block more_celebrities %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:list' lang=lang page='1' %}">المزيد من المشاهير</a>
{% endblock %}
