{% extends 'celebrity/day/celeb_day_eng.html' %}
{% block lang_code %}
    <html lang="ar">
{% endblock %}
{% block title %}SajuFortune - {{ celeb.celebrityarabic.name }} @{{ target.year }}-{{ target.month }}-
    {{ target.day }}{% endblock %}
{% block meta %}
    <meta name="keywords"
          content="saju, sajufortune, fortune, horoscope, astrology, celebrity, {{ celeb.celebrityarabic.name }}"/>
    <meta name="author" content="SajuFortune"/>
    <meta name="title" content="SajuFortune -{{ celeb.celebrityarabic.name }}"/>
    <meta name="description"
          content="{{ celeb.celebrityarabic.name }} @{{ target.year }}-{{ target.month }}-{{ target.day }}"/>

    <meta property="og:url" content="https://www.sajufortune.com{{ request.get_full_path }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="SajuFortune -{{ celeb.celebrityarabic.name }}"/>
    <meta property="og:site_name" content="SajuFortune"/>
    <meta property="og:description"
          content="{{ celeb.celebrityarabic.name }} @{{ target.year }}-{{ target.month }}-{{ target.day }}"/>

    {% if post.photo %}
        <meta property="og:image" content="{{ celeb.photo.url }}"/>
        <meta name="twitter:image" content="{{ celeb.photo.url }}">
    {% else %}
        <meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>
        <meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">
    {% endif %}

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@SajuFortune"/>
    <meta name="twitter:creator" content="@SajuFortune">

    <meta property="fb:app_id" content="2043859895827697"/>
{% endblock %}
{% block photo_and_name %}
    {% include 'snippet/celeb/photo_and_name/_celeb_photo_and_name_ara.html' %}
{% endblock %}

{% block detail %}
    {% include 'snippet/day/detail/_day_detail_ara.html' %}
{% endblock %}

{% block other_posts %}
    {% include 'snippet/celeb/other_posts/_celeb_other_posts_ara.html' %}
{% endblock %}

{% block who_s %}
    <p class="h3 list_text">
        {{ celeb.celebrityarabic.name }} ..
    </p>
{% endblock %}

{% block buttons %}
    {% include 'snippet/buttons/_buttons_day_ara.html' %}
{% endblock %}

{% block go_profile %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">
        المزيد عن {{ celeb.celebrityarabic.name }}
    </a>
{% endblock %}

{% block more_celebrities %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:list' lang=lang page='1' %}">
        المزيد من المشاهير
    </a>
{% endblock %}
