{% extends 'celebrity/day/celeb_day_eng.html' %}
{% block title %}Title{% endblock %}

{% block photo_and_name %}
    {% include 'snippet/celeb/photo_and_name/_celeb_photo_and_name_spa.html' %}
{% endblock %}

{% block detail %}
    {% include 'snippet/day/detail/_day_detail_spa.html' %}
{% endblock %}

{% block other_posts %}
    {% include 'snippet/celeb/other_posts/_celeb_other_posts_spa.html' %}
{% endblock %}

{% block who_s %}
    <p class="h3 list_text">
    {{ celeb.celebrityspanish.name }} ..
    </p>
{% endblock %}

{% block buttons %}
    {% include 'snippet/buttons/_buttons_day_spa.html' %}
{% endblock %}

{% block go_profile %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">
        más sobre {{ celeb.celebrityspanish.name }}
    </a>
{% endblock %}

{% block more_celebrities %}
    <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:list' lang=lang page='1' %}">más celebridades
    </a>
{% endblock %}
