<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippet/others/header_static.html' %}

    {% load static from staticfiles %}

    <title>{% block title %}Title{% endblock %}</title>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{% url 'website:main_lang' lang=lang %}"><p class="sajufortune_text">SajuFortune</p></a>
            </div>
        </div>
        <div class="col-xs-12">
            {% include 'ad/_ad_banner.html' %}
        </div>
    </div>
    <!--forloop counter를쓰자-->
    <!--페이지는 12개불러오면 13개까지 불러와보고 12개만 보낸 후에 라스트인지 아닌지 변수를 자바스크립트로 보내서 넥스트 누를 시에 마지막페이지면 마지막페이지라고 알리는 형식
    get 요청 파라미터로 페이지 순서 부르더라도 없는 페이지 부르면 404리다이렉트-->

    <div class="row">
        <div class="btn_padder"></div>
    </div>
    <!--여기서부턴 정사각형 목록-->

{% if celeb %}
    <div class="row">
    {% block photo_and_name %}
        {% include 'snippet/celeb/photo_and_name/_celeb_photo_and_name_eng.html' %}
    {% endblock %}

    </div>

    <div class="row">
        <div class="col-xs-12 padding_side_5">
            {% include 'ad/_ad_square_detail.html' %}
        </div>
    </div>
{% endif %}
    <!--row 당 2개씩 -->
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>

    <div class="row">
        {% block detail %}
        {% include 'snippet/day/detail/_day_detail_eng.html' %}
        {% endblock %}
    </div>

    {% if posts %}
    <div class="row">
    {% block other_posts %}
        {% include 'snippet/celeb/other_posts/_celeb_other_posts_eng.html' %}
    {% endblock %}
    </div>
    {% endif %}

    <!-- Share btn -->
    <div class="row">
        {% include 'snippet/others/_share_buttons.html' %}
    </div>

    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        {% include 'snippet/others/facebook_reply.html' %}
    </div>
    <div class="row">
        <div class="center-block">
            <div class="text-center">
                {% block who_s %}
                <p class="h3 list_text">
                {{ celeb.celebrityenglish.name }} 's..</p>
                {% endblock %}
            </div>
        </div>
    {% block buttons %}
        {% include 'snippet/buttons/_buttons_day_eng.html' %}
    {% endblock %}
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'ad/_ad_square_detail.html' %}
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>


    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            {% block go_profile %}
                <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">
                    more about {{ celeb.celebrityenglish.name }}
                </a>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {% block more_celebrities %}
                <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:list' lang=lang page='1' %}">
                    more celebrities
                </a>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
</div>

    <div class="mobile_display_none desktop_display_none" id="url_day" data-sj="{% url 'website:day' lang=lang %}"></div>

    <div class="mobile_display_none desktop_display_none" id="data_by" data-sj="{{ birthday.year }}"></div>
    <div class="mobile_display_none desktop_display_none" id="data_bm" data-sj="{{ birthday.month }}"></div>
    <div class="mobile_display_2none desktop_display_none" id="data_bd" data-sj="{{ birthday.day }}"></div>

    <div class="mobile_display_none desktop_display_none" id="data_td" data-sj="{{ target.day }}"></div>

    <div class="mobile_display_none desktop_display_none" id="data_celeb_pk" data-sj="{{ celeb.pk }}"></div>
    <div class="mobile_display_none desktop_display_none" id="data_celeb_day_url" data-sj="{% url 'celebrity:day' lang=lang num=celeb.pk %}"></div>


</body>
<script>
        $(document).ready(function () {
        var i, target_day;

        target_day = $("#data_td").attr("data-sj");

        for (i = 0; i < 3; i++) {
            var date_for_button = new Date(new Date().getTime() + 24 * 60 * 60 * 1000 * i);

            var day_for_day_button = date_for_button.getDate();
            var month_for_day_button = date_for_button.getMonth() + 1;
            var year_for_day_button = date_for_button.getFullYear();
            var btn_id = '#' + 'btn_day_' + i;
            var btn_day = $(btn_id);
            var btn_day_current_text = btn_day.text();
            var btn_day_text_to_add = btn_day_current_text + " " + year_for_day_button + "-" +
                month_for_day_button + "-" + day_for_day_button;
            btn_day.text(btn_day_text_to_add);
            btn_day.attr({
                'data-sj-ty': year_for_day_button, 'data-sj-tm': month_for_day_button,
                'data-sj-td': day_for_day_button
            });

            if (day_for_day_button == target_day){
                btn_day.remove()
            }
        }

        $('.btn_to_click').click(function (e) {
            e.preventDefault();

            var target_day = $(this).attr('data-sj-td');
            var target_month = $(this).attr('data-sj-tm');
            var target_year = $(this).attr('data-sj-ty');

            var ty, tm, td;
            ty = parseInt(target_year).toString(16);
            tm = parseInt(target_month).toString(16);
            td = parseInt(target_day).toString(16);

            var link_text = $('#data_celeb_day_url').attr('data-sj') + "?ty=" + ty + "&tm=" + tm + "&td=" + td;
            location.href = link_text;

        });
    });

</script>

</html>