{% extends 'post/detail_eng.html' %}

{% block title %}SajuFortune {{ post.postinfoenglish.title }}{% endblock %}

{% block info %}
<div class="text-center">
    <p class="h3 list_text">
    {{ post.postinfoenglish.name }}</p>
</div>
<div class="text-center">
    <p class="h5 list_text">
    {{ post.postinfoenglish.title }}</p>
</div>
{% endblock %}

{% block overall %}
<p class="media-heading h4">
    Overall
</p>

<p class="media-heading h4">
    <small><i>{{ overall.dayoverallenglish.quote }}</i></small>
</p>
<p>
    {{ overall.dayoverallenglish.text|linebreaksbr }}
</p>
{% endblock %}

{% block emotion %}
<p class="media-heading h4">
    Emotion
</p>

<p class="media-heading h4">
    <small><i>{{ emotion.dayemotionenglish.quote }}</i></small>
</p>
<p>
    {{ emotion.dayemotionenglish.text|linebreaksbr }}
</p>
{% endblock %}

{% block love %}
<p class="media-heading h4">
    Love
</p>

<p class="media-heading h4">
    <small><i>{{ love.dayloveenglish.quote }}</i></small>
</p>
<p>
    {{ love.dayloveenglish.text|linebreaksbr }}
</p>
{% endblock %}


{% block money %}
<p class="media-heading h4">
    Money
</p>

<p class="media-heading h4">
    <small><i>{{ money.daymoneyenglish.quote }}</i></small>
</p>
<p>
    {{ money.daymoneyenglish.text|linebreaksbr }}
</p>
{% endblock %}


{% block relationship %}
<p class="media-heading h4">
    Relationships
</p>

<p class="media-heading h4">
    <small><i>{{ relationships.dayrelationshipsenglish.quote }}</i></small>
</p>
<p>
    {{ relationships.dayrelationshipsenglish.text|linebreaksbr }}
</p>
{% endblock %}


{% block work %}
<p class="media-heading h4">
    Work
</p>

<p class="media-heading h4">
    <small><i>{{ work.dayworkenglish.quote }}</i></small>
</p>
<p>
    {{ work.dayworkenglish.text|linebreaksbr }}
</p>
{% endblock %}

{% block other_posts_text %}
    <p class="h3 about_saju">Other Posts</p>
{% endblock %}

{% block other_posts_objects %}

{% if post_option_1 %}
    {% with post=post_option_1 %}
        <div class="col-sm-6 padding_side_5">
            {% include 'snippet/_square_list_eng.html' %}
        </div>
    {% endwith %}
{% endif %}
{% if post_option_2 %}
    {% with post=post_option_2 %}
        <div class="col-sm-6 padding_side_5">
            {% include 'snippet/_square_list_eng.html' %}
        </div>
    {% endwith %}
{% endif %}

{% endblock %}