{% extends 'website/day/day_eng.html' %}

{% block lang_code %}
    <html lang="ar">
{% endblock %}

{% block meta %}
    <meta name="keywords"
          content="saju, sajufortune, fortune, horoscope, astrology, celebrity, {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}, {{ target.year }}-{{ target.month }}-{{ target.day }}"/>
    <meta name="author" content="SajuFortune"/>
    <meta name="title"
          content="SajuFortune {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}@{{ target.year }}-{{ target.month }}-{{ target.day }}"/>
    <meta name="description"
          content="{{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}@{{ target.year }}-{{ target.month }}-{{ target.day }}"/>

    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title"
          content="SajuFortune {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}@{{ target.year }}-{{ target.month }}-{{ target.day }}"/>
    <meta property="og:site_name" content="SajuFortune"/>
    <meta property="og:description"
          content="{{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}@{{ target.year }}-{{ target.month }}-{{ target.day }}"/>
    <meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@SajuFortune"/>
    <meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">
    <meta name="twitter:creator" content="@SajuFortune">

    <meta property="fb:app_id" content="2043859895827697"/>
{% endblock %}
{% block day_detail %}
    {% include 'snippet/day/detail/_day_detail_ara.html' %}
{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_ara.html' %}
{% endblock %}

{% block go_to_main %}اذهب الى الرئيسي{% endblock %}

{% block what_about_others %}
    {% if other_celebs %}
        <div class="row">
            <div class="btn_padder"></div>
            <div class="col-xs-12 text-center">
                <p class="h3 about_saju">ماذا عنهم</p>
            </div>
            <div class="btn_padder"></div>

        </div>
        <div class="row">
            {% block other_posts_objects %}
                {% for celeb in other_celebs %}
                    <div class="col-sm-6 padding_side_5">
                        <div class="center-block square_list_wrapper">
                            {% if request.GET.ty and request.GET.tm and request.GET.ty %}
                                <a href="{% url 'celebrity:day' lang=lang num=celeb.pk %}?ty={{ request.GET.ty }}&tm={{ request.GET.tm }}&td={{ request.GET.td }}">
                            {% else %}
                                <a href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">
                            {% endif %}
                            {% if celeb.photo %}
                                <img class="img_350_250 img_clickable" src="{{ celeb.photo.url }}">
                            {% else %}
                                <div class="text-center">
                                    <div class="fa btn_saju img_clickable img_350_250">
                                        Sorry, No Image
                                    </div>
                                </div>
                            {% endif %}
                            </a>
                            <div class="btn_padder"></div>
                            <div class="text-center">
                                {% if request.GET.ty and request.GET.tm and request.GET.ty %}

                                    <p class="inherit_color">
                                        <a class="ban_bs_text_link list_text h3"
                                           href="{% url 'celebrity:day' lang=lang num=celeb.pk %}?ty={{ request.GET.ty }}&tm={{ request.GET.tm }}&td={{ request.GET.td }}">
                                            {{ celeb.celebrityarabic.name }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="inherit_color">
                                        <a class="ban_bs_text_link list_text h3"
                                           href="{% url 'celebrity:profile' lang=lang num=celeb.pk %}">
                                            {{ celeb.celebrityarabic.name }}
                                        </a>
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}