<div class="center-block square_list_wrapper">
    {% if celeb.photo %}
        <img class="img_350_250" src="{{ celeb.photo.url }}">
    {% else %}
        <div class="text-center">
            <div class="fa btn_saju img_350_250">
                Sorry, No Image
            </div>
        </div>
    {% endif %}
    {% block info %}
        <div class="text-center">
            <p class="h2 list_text">
                {{ celeb.celebrityarabic.name }}</p>
            <p class="h4">@{{ target.year }}-{{ target.month }}-{{ target.day }}</p>

        </div>
    {% endblock %}
</div>