        <!--이건 더미 정사각형-->
        <div class="center-block square_list_wrapper">
            <!-- 이미지인데 여기서 이미지는 이미지 자체가 350*250이다 -->
            {% if celeb.photo %}
                <img class="img_350_250" src="{{ celeb.photo.url }}">
            {% else %}
                <div class="text-center">
                    <div class="fa btn_saju img_350_250">
                        Sorry, No Image
                    </div>
                </div>
            {% endif %}
            <!-- text -->
            {% block info %}
            <div class="text-center">
                <p class="h2 list_text">
                {{ celeb.celebrityarabic.name }}</p>
                <p class="h4">@ {{ target.year }}-{{ target.month }}-{{ target.day }}</p>

            </div>

            {% endblock %}
        </div>