        <div class="btn_padder"></div>
        <div class="text-center">
                <a class="fa btn_saju btn_today_or_other" id="btn_today" href="">
                    Today
                </a>
        </div>
        <div class="btn_padder"></div>
        <div class="text-center">
            <a class="fa btn_saju btn_today_or_other" id="btn_tomorrow" href="">Tomorrow</a>
        </div>
        <div class="btn_padder"></div>

        <div class="text-center">
            <a class="fa btn_saju btn_today_or_other" id="btn_dayaftertomorrow" href="">DayAfterTomorrow</a>
        </div>