{% extends 'website/main/main.html' %}
{% block title %}Title{% endblock %}

{% block birthday_selecting %}Birthday Selecting{% endblock %}
{% block year %}Year{% endblock %}
{% block month %}Month{% endblock %}
{% block day %}Day{% endblock %}
{% block today %}Today{% endblock %}
{% block tomorrow %}Tomorrow{% endblock %}
{% block dayaftertomorrow %}DayAfterTomorrow{% endblock %}
{% block language %}Language{% endblock %}
{% block select_language %}choose{% endblock %}

{% block posts %}
    <div class="row">
        <!--이건 더미 정사각형-->
        {% if posts %}
            {% if posts|length < 10 %}
                {% for post in posts %}
                    <div class="col-sm-6 padding_side_5">
                        {% include 'snippet/square_list/_square_list_spa.html' %}
                    </div>
                {% endfor %}
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
            {% else %}
                {% for post in posts %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block more_posts %}more posts{% endblock %}
{% block more_celebrities %}more celebrities{% endblock %}
{% block about_saju %}about Saju{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="Would you set your birthday?"></div>
<div class="mobile_display_none desktop_display_none" id="phrase_language" data-sj="Would you set your language?"></div>
{% endblock %}