{% extends 'website/main/main_eng.html' %}
{% block lang_code %}
<html lang="es">
{% endblock %}
{% block title %}SajuFortune - Verifique sua fortuna. Ou verifique a sorte das celebridades.{% endblock %}

{% block birthday_selecting %}Seleção de Aniversário{% endblock %}
{% block year %}Año{% endblock %}
{% block month %}Mes{% endblock %}
{% block day %}Día{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_spa.html' %}
{% endblock %}

{% block language %}Idioma{% endblock %}
{% block select_language %}escoger{% endblock %}

{% block posts %}
    <div class="row">
        <!--이건 더미 정사각형-->
        {% if posts %}
            {% if posts|length < 10 %}
                {% for post in posts %}
                    <div class="col-sm-6 padding_side_5">
                        {% include 'snippet/square_list/_square_list_spa.html' %}
                    </div>
                {% endfor %}
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
            {% else %}
                {% for post in posts %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_spa.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block more_posts %}más publicaciones{% endblock %}
{% block more_celebrities %}más celebridades{% endblock %}
{% block about %}acerca de{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="Por favor, ¿elegirías tu cumpleaños?"></div>
<div class="mobile_display_none desktop_display_none" id="phrase_language" data-sj="Por favor, establece tu idioma."></div>
{% endblock %}