{% extends 'website/main/main_eng.html' %}
{% block lang_code %}
<html lang="ar">
{% endblock %}
{% block title %}SajuFortune - تحقق ثروتك. أو تحقق من ثروات المشاهير.{% endblock %}

{% block birthday_selecting %}اختيار عيد ميلاد{% endblock %}
{% block year %}عام{% endblock %}
{% block month %}شهر{% endblock %}
{% block day %}يوم{% endblock %}

{% block buttons_day %}
    {% include 'snippet/buttons/_buttons_day_ara.html' %}
{% endblock %}

{% block language %}لغة{% endblock %}
{% block select_language %}أختر{% endblock %}

{% block posts %}
    <div class="row">
        <!--이건 더미 정사각형-->
        {% if posts %}
            {% if posts|length < 10 %}
                {% for post in posts %}
                    <div class="col-sm-6 padding_side_5">
                        {% include 'snippet/square_list/_square_list_ara.html' %}
                    </div>
                {% endfor %}
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
                <!--adsense 버전-->
                <div class="col-sm-6 padding_side_5">
                    {% include 'ad/_ad_square_list.html' %}
                </div>
            {% else %}
                {% for post in posts %}
                    {% if forloop.counter0 == 2 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_ara.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% elif forloop.counter0 == 6 %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_ara.html' %}
                        </div>
                        <!--adsense 버전-->
                        <div class="col-sm-6 padding_side_5">
                            {% include 'ad/_ad_square_list.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_ara.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block more_posts %}المزيد من المشاركات{% endblock %}
{% block more_celebrities %}المزيد من المشاهير{% endblock %}
{% block about %}حول{% endblock %}

{% block choose_phrase %}
<div class="mobile_display_none desktop_display_none" id="phrase_birthday" data-sj="من فضلك سوف تختار عيد ميلادك؟"></div>
<div class="mobile_display_none desktop_display_none" id="phrase_language" data-sj="يرجى ضبط لغتك."></div>
{% endblock %}