<!DOCTYPE html>
{% block lang_code %}
    <html lang="en">
{% endblock %}
<head>
    <title>{% block title %}SajuFortune - Check your fortune. Or check the fortunes of
        celebrities.{% endblock %}</title>
    {% include 'snippet/others/header_static.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/buttons_adding_text.js' %}"></script>
    <script src="{% static 'js/birthday.js' %}"></script>
    <script src="{% static 'js/day_buttons_links_main.js' %}"></script>
    <script src="{% static 'js/lang_selecter_main.js' %}"></script>

    {% include 'snippet/others/favicon.html' %}

    {% block meta %}
        <meta name="keywords" content="saju, sajufortune, fortune, horoscope, astrology, celebrity"/>
        <meta name="author" content="SajuFortune"/>
        <meta name="title" content="SajuFortune"/>
        <meta name="description" content="Check your fortune. Or check the fortunes of celebrities."/>

        <meta property="og:url" content="https://www.sajufortune.com{{ request.get_full_path }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="SajuFortune"/>
        <meta property="og:site_name" content="SajuFortune"/>
        <meta property="og:description" content="Check your fortune. Or check the fortunes of celebrities."/>
        <meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@SajuFortune"/>
        <meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">
        <meta name="twitter:creator" content="@SajuFortune">

        <meta property="fb:app_id" content="2043859895827697"/>
    {% endblock %}

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{% url 'website:main_lang' lang=lang %}"><p class="sajufortune_text">SajuFortune</p></a>
            </div>
        </div>
        <div class="col-xs-12">
            {% include 'ad/_ad_banner.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-xs-12">

                <div class="center-block">
                    <div class="text-center">
                        <p class="birthday_selecting_text h3">
                            {% block birthday_selecting %}Birthday Selecting{% endblock %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center warning_color">
            <p class="h4 warning_height" id="p_birth_warning"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form class="form-inline text-center">
                <div class="form-group col-xs-4">
                    <select class="form-control form-select padding_select_side" id="select_year" style="width: 100%;">
                        <option selected disabled value="non_year">{% block year %}Year{% endblock %}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <select class="form-control form-select padding_select_side" id="select_month" style="width: 100%">
                        <option selected disabled value="non_month">{% block month %}Month{% endblock %}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <select class="form-control form-select padding_select_side" id="select_day" style="width: 100%">
                        <option selected disabled value="non_day">{% block day %}Day{% endblock %}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% block buttons_day %}
            {% include 'snippet/buttons/_buttons_day_eng.html' %}
        {% endblock %}
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form class="form-inline text-center">
                <div class="form-group col-xs-6">
                    <select class="form-control form-select" id="select_lang" style="width: 100%">
                        <option selected disabled value="non_lang">{% block language %}Language{% endblock %}</option>
                        <option value="ara">‏العربية‏</option>
                        <option value="chi">中文</option>
                        <option value="eng">English</option>
                        <option value="por">Português</option>
                        <option value="spa">Español</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <div class="text-center">
                        <a type="button" class="fa btn_saju width_100percent" id="btn_lang" href=""
                           style="margin-top: 0px;">
                            {% block select_language %}
                                choose
                            {% endblock %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center warning_color">
            <p class="h4 warning_height" id="p_lang_warning"></p>
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
    {% block posts %}

        <div class="row">
            {% if posts %}
                {% if posts|length < 10 %}
                    {% for post in posts %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_eng.html' %}
                        </div>
                    {% endfor %}
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                {% else %}
                    {% for post in posts %}
                        {% if forloop.counter0 == 2 %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% elif forloop.counter0 == 6 %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% else %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="fa btn_saju btn_today_or_other" href="{% url 'post:list' lang=lang page='1' %}">
                {% block more_posts %}more posts{% endblock %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="fa btn_saju btn_today_or_other" href="{% url 'celebrity:list' lang=lang page='1' %}">
                {% block more_celebrities %}
                    more celebrities
                {% endblock %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{% url 'website:about' lang=lang %}"><p class="h3 about_saju">{% block about %}about{% endblock %}
                Saju</p></a>
        </div>
    </div>
    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
</div>

{% block choose_phrase %}
    <div class="mobile_display_none desktop_display_none" id="phrase_birthday"
         data-sj="Please would you choose your birthday?"></div>
    <div class="mobile_display_none desktop_display_none" id="phrase_language"
         data-sj="Please set your language."></div>
{% endblock %}

<div class="mobile_display_none desktop_display_none" id="url_day" data-sj="{% url 'website:day' lang=lang %}"></div>

<div class="mobile_display_none desktop_display_none" id="url_day_ara"
     data-sj="{% url 'website:day' lang='ara' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_day_chi"
     data-sj="{% url 'website:day' lang='chi' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_day_eng"
     data-sj="{% url 'website:day' lang='eng' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_day_por"
     data-sj="{% url 'website:day' lang='por' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_day_spa"
     data-sj="{% url 'website:day' lang='spa' %}"></div>

<div class="mobile_display_none desktop_display_none" id="url_ara"
     data-sj="{% url 'website:main_lang' lang='ara' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_chi"
     data-sj="{% url 'website:main_lang' lang='chi' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_eng"
     data-sj="{% url 'website:main_lang' lang='eng' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_por"
     data-sj="{% url 'website:main_lang' lang='por' %}"></div>
<div class="mobile_display_none desktop_display_none" id="url_spa"
     data-sj="{% url 'website:main_lang' lang='spa' %}"></div>

{% include 'snippet/others/bootstrap_tester.html' %}
</body>
<script>

</script>
</html>