<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  <!-- jQuery local fallback -->
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.3.1.js"><\/script>')</script>
    <!-- Bootstrap CSS CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap JS local fallback -->
    <script>if(typeof($.fn.modal) === 'undefined') {
        document.write('<script src="/static//bootstrap/js/bootstrap.js"><\/script>')

    }</script>
    <!-- Bootstrap CSS local fallback -->
</head>
<body>
    <div id="bootstrapCssTest" class="hidden"></div>
    <button id="btn_test">btn_test</button>
</body>

    <script>
    $(function() {
        if ($('#bootstrapCssTest').is(':visible')) {
            $("head").prepend('<link rel="stylesheet" href="/static_url/bootstrap/css/bootstrap.css">');

        }
    });
    </script>
<script>
    $('#btn_test').click(function () {
        location.href = 'hhh/';
    });
</script>
</html>