<!DOCTYPE html>
{% block lang_code %}
    <html lang="en">
{% endblock %}
<head>
    <title>{% block title %}SajuFortune - {{ posts.num }}{% endblock %}</title>
    {% include 'snippet/others/header_static.html' %}
    {% include 'snippet/others/favicon.html' %}

    {% block meta %}
        <meta name="keywords" content="saju, sajufortune, fortune, horoscope, astrology, celebrity"/>
        <meta name="author" content="SajuFortune"/>
        <meta name="title" content="SajuFortune"/>
        <meta name="description" content="Check your fortune. Or check the fortunes of celebrities."/>

        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="SajuFortune"/>
        <meta property="og:site_name" content="SajuFortune"/>
        <meta property="og:description" content="Check your fortune. Or check the fortunes of celebrities."/>
        <meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@SajuFortune"/>
        <meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">
        <meta name="twitter:creator" content="@SajuFortune">

        <meta property="fb:app_id" content="2043859895827697"/>
    {% endblock %}

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a class="text_hover_none" href="{% url 'website:main_lang' lang=lang %}">
                    <p class="sajufortune_text">SajuFortune</p>
                </a>
            </div>
        </div>
        <div class="col-xs-12">
            {% include 'ad/_ad_banner.html' %}
        </div>
    </div>
    <!--forloop counter를쓰자-->
    <!--페이지는 12개불러오면 13개까지 불러와보고 12개만 보낸 후에 라스트인지 아닌지 변수를 자바스크립트로 보내서 넥스트 누를 시에 마지막페이지면 마지막페이지라고 알리는 형식
    get 요청 파라미터로 페이지 순서 부르더라도 없는 페이지 부르면 404리다이렉트-->


    <div class="row">

        <div class="btn_padder"></div>

    </div>

    <!--여기서부턴 정사각형 목록-->

    <!--row 당 2개씩 -->

    <div class="row">
        <!--이건 더미 정사각형-->
        {% block posts %}
            {% if posts %}
                {% if posts|length < 10 %}
                    {% for post in posts %}
                        <div class="col-sm-6 padding_side_5">
                            {% include 'snippet/square_list/_square_list_eng.html' %}
                        </div>
                    {% endfor %}
                    <!--adsense 버전-->
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                    <!--adsense 버전-->
                    <div class="col-sm-6 padding_side_5">
                        {% include 'ad/_ad_square_list.html' %}
                    </div>
                {% else %}
                    {% for post in posts %}
                        {% if forloop.counter0 == 2 %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                            <!--adsense 버전-->
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% elif forloop.counter0 == 6 %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                            <!--adsense 버전-->
                            <div class="col-sm-6 padding_side_5">
                                {% include 'ad/_ad_square_list.html' %}
                            </div>
                        {% else %}
                            <div class="col-sm-6 padding_side_5">
                                {% include 'snippet/square_list/_square_list_eng.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

        {% endblock %}
    </div>
    <!-- more btn -->

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-xs-4">
                <div class="text-center">
                    {% if posts.has_previous %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'post:list' lang=lang page=posts.previous_page_number %}">
                            {% block previous %}
                                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
                            {% endblock %}
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    <a type="button" class="width_80percent">
                        <p style="color: #26a01a"><b>{{ posts.number }}</b></p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    {% if posts.has_next %}
                        <a class="fa btn_saju width_100percent"
                           href="{% url 'post:detail' lang=lang num=posts.next_page_number %}">
                            {% block next %}
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            {% endblock %}
                        </a>
                    {% else %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn_padder"></div>
        <div class="btn_padder"></div>
    </div>
</div>
{% include 'snippet/others/bootstrap_tester.html' %}

</body>
<script>
</script>
</html>