<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div data-glade data-ad-unit-path="/21700018875/336_280_ad" height="280" width="336"></div>

<script async='async' src='https://securepubads.g.doubleclick.net/static/glade.js'>

</script>
<button id="test_btn">btn1 bfp</button>
<button id="test_btn2">btn2 adsense</button>

<div id="test_div"></div>
<div class="test_div2">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 320_100_ad -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-8253099368332750"
         data-ad-slot="5017946367"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 320_100_ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-8253099368332750"
     data-ad-slot="5017946367"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#test_btn').click(function () {
            $('#test_div').append("<div data-glade data-ad-unit-path=\"/21700018875/336_280_ad\" height=\"280\" width=\"336\"></div>\n" +
                "\n" +
                "<script async='async' src='https://securepubads.g.doubleclick.net/static/glade.js'>\n" +
                "    \n" +
                "<"+"/script>")
        });

        var adsense;
        adsense = '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">'+'<'+'/script>' +
            '<ins class="adsbygoogle" \n' +
            ' style="display:inline-block;width:320px;height:100px"\n'+
            ' data-ad-client="ca-pub-8253099368332750"\n'+
            ' data-ad-slot="5017946367"></ins>\n'+
            '<script>\n'+
            '(adsbygoogle = window.adsbygoogle || []).push({});\n' +
            '<'+'/script>'

        $('#test_btn2').click(function () {
            $('#test_div').append(adsense)
        });
    });

</script>
</body>

</html>

<!-- 먼저 그냥 애드센스 ajax 요청 되는지 실험 -> 그 다음 dfp 로 ajax 요청 되는지 실험 -> 예제 코드들은 모두 패스백을 사용하는 것 같았다.


<script async="async" src="https://www.googletagservices.com/tag/js/gpt.js">
	</script>
	<script>
	  var googletag = googletag || {};
	  googletag.cmd = googletag.cmd || [];
	</script>
	<script>
	  googletag.cmd.push(function() {
	    googletag.pubads().set("adsense_background_color", "FFFFFF");
	  });
	</script>
	<script>
	  googletag.cmd.push(function() {
	    googletag.defineSlot("/1234/travel/asia", [728, 90], "div-gpt-ad-123456789-0")
	      .addService(googletag.pubads())
	      .setTargeting("interests", ["sports", "music", "movies"]);
	    googletag.defineSlot("/1234/travel/asia", [[468, 60], [728, 90], [300, 250]], "div-gpt-ad-123456789-1")
	      .addService(googletag.pubads())
	      .setTargeting("gender", "male")
	      .setTargeting("age", "20-30");
	    googletag.pubads().setTargeting("topic","basketball");
	    googletag.pubads().enableSingleRequest();
	    googletag.enableServices();
	  });
	</script>
	</head>
	<body>
	  <div id="div-gpt-ad-123456789-0" style="width: 728px; height: 90px">
<script>
	      googletag.cmd.push(function() {
	         googletag.display("div-gpt-ad-123456789-0");
	      });
	    </script>
	  </div>
	    <div id="div-gpt-ad-123456789-1">
	    <script>
	      googletag.cmd.push(function() {
	         googletag.display("div-gpt-ad-123456789-1");
	      });
	    </script>
</div>
