<div class="center-block square_detail_wrapper">
    <div class="ad_square_list_wrapper" align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- responsive_ad_base -->
        <ins class="adsbygoogle ad_square_list"
             style="display:block"
             data-ad-client="ca-pub-8253099368332750"
             data-ad-slot="2895336551"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>