            <div class="ad_btn_wrapper"><!--광고 덮을시엔 크기 지정해주고 text-center이용 width는 필요없어보인다 하면 왼쪽으로 붙어버림 height만 할 것-->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- example_responsive_1 -->
                <ins class="adsbygoogle ad_btn"
                     style="display:inline-block; background-color: green"
                     data-ad-client="ca-pub-XXXXXXX11XXX9"
                     data-ad-slot="8XXXXX1"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>