<div class="col-sm-8 col-sm-offset-2 padding_side_7" id="div_detail">
    <div class="media">
        <div class="media-body">

            <p class="media-heading h4">
                <small>birth: {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}</small>
            </p>

            <p class="media-heading h4">
                <small>about: {{ target.year }}-{{ target.month }}-{{ target.day }}</small>
            </p>

            <br>

            {% block overall %}
                <p class="media-heading h4">
                    Overall
                </p>

                <p class="media-heading h4">
                    <small><i>{{ overall.dayoverallenglish.quote }}</i></small>
                </p>
                <p>
                    {{ overall.dayoverallenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block emotion %}
                <p class="media-heading h4">
                    Emotion
                </p>

                <p class="media-heading h4">
                    <small><i>{{ emotion.dayemotionenglish.quote }}</i></small>
                </p>
                <p>
                    {{ emotion.dayemotionenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block love %}
                <p class="media-heading h4">
                    Love
                </p>

                <p class="media-heading h4">
                    <small><i>{{ love.dayloveenglish.quote }}</i></small>
                </p>
                <p>
                    {{ love.dayloveenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>
            {% block money %}
                <p class="media-heading h4">
                    Money
                </p>

                <p class="media-heading h4">
                    <small><i>{{ money.daymoneyenglish.quote }}</i></small>
                </p>
                <p>
                    {{ money.daymoneyenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block relationship %}
                <p class="media-heading h4">
                    Relationships
                </p>

                <p class="media-heading h4">
                    <small><i>{{ relationships.dayrelationshipsenglish.quote }}</i></small>
                </p>
                <p>
                    {{ relationships.dayrelationshipsenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block work %}
                <p class="media-heading h4">
                    Work
                </p>

                <p class="media-heading h4">
                    <small><i>{{ work.dayworkenglish.quote }}</i></small>
                </p>
                <p>
                    {{ work.dayworkenglish.text|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

        </div>
    </div>
</div>
<div class="col-sm-2 padding_side_5 mobile_display_none" id="div_side_scrapper">
    {% include 'ad/_ad_side_scrapper.html' %}
</div>
