<div class="col-sm-8 col-sm-offset-2 padding_side_7" id="div_detail">
    <div class="media">
        <div class="media-body">

            <p class="media-heading h4">
                <small>birth: {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}</small>
            </p>

            <p class="media-heading h4">
                <small>about: {{ target.year }}-{{ target.month }}-{{ target.day }}</small>
            </p>

            <br>

            {% block overall %}
                <p class="media-heading h4">
                    Overall
                </p>

                <p class="media-heading h4">
                    <small><i>{{ overall.quote_english }}</i></small>
                </p>
                <p>
                    {{ overall.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block emotion %}
                <p class="media-heading h4">
                    Emotion
                </p>

                <p class="media-heading h4">
                    <small><i>{{ emotion.quote_english }}</i></small>
                </p>
                <p>
                    {{ emotion.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block love %}
                <p class="media-heading h4">
                    Love
                </p>

                <p class="media-heading h4">
                    <small><i>{{ love.quote_english }}</i></small>
                </p>
                <p>
                    {{ love.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>
            {% block money %}
                <p class="media-heading h4">
                    Money
                </p>

                <p class="media-heading h4">
                    <small><i>{{ money.quote_english }}</i></small>
                </p>
                <p>
                    {{ money.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block relationship %}
                <p class="media-heading h4">
                    Relationships
                </p>

                <p class="media-heading h4">
                    <small><i>{{ relationships.quote_english }}</i></small>
                </p>
                <p>
                    {{ relationships.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            {% block work %}
                <p class="media-heading h4">
                    Work
                </p>

                <p class="media-heading h4">
                    <small><i>{{ work.quote_english }}</i></small>
                </p>
                <p>
                    {{ work.english|linebreaksbr }}
                </p>
            {% endblock %}

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

        </div>
    </div>
</div>
<div class="col-sm-2 padding_side_5 mobile_display_none" id="div_side_scrapper">
    {% include 'ad/_ad_side_scrapper.html' %}
</div>
