<div class="col-sm-8 col-sm-offset-2 padding_side_7" id="div_detail">
    <div class="media">
        <div class="media-body">

            <p class="media-heading h4">
                <small>aniversário: {{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}</small>
            </p>

            <p class="media-heading h4">
                <small>sobre: {{ target.year }}-{{ target.month }}-{{ target.day }}</small>
            </p>

            <br>

            <p class="media-heading h4">
                No geral
            </p>

            <p class="media-heading h4">
                <small><i>{{ overall.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ overall.portuguese|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                emoção
            </p>

            <p class="media-heading h4">
                <small><i>{{ emotion.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ emotion.portuguese|linebreaksbr }}
            </p>

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

            <p class="media-heading h4">
                amor
            </p>

            <p class="media-heading h4">
                <small><i>{{ love.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ love.portuguese|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                dinheiro
            </p>

            <p class="media-heading h4">
                <small><i>{{ money.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ money.portuguese|linebreaksbr }}
            </p>

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

            <p class="media-heading h4">
                relacionamentos
            </p>

            <p class="media-heading h4">
                <small><i>{{ relationships.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ relationships.portuguese|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                trabalhos
            </p>

            <p class="media-heading h4">
                <small><i>{{ work.quote_portuguese }}</i></small>
            </p>
            <p>
                {{ work.portuguese |linebreaksbr }}
            </p>

            <br>

        </div>
    </div>
</div>
<div class="col-sm-2 padding_side_5 mobile_display_none" id="div_side_scrapper">
    {% include 'ad/_ad_side_scrapper.html' %}
</div>
