<div class="col-sm-8 col-sm-offset-2 padding_side_7" id="div_detail">
    <div class="media">
        <div class="media-body">

            <p class="media-heading h4">
                <small> عيد ميلاد{{ birthday.year }}-{{ birthday.month }}-{{ birthday.day }}</small>
            </p>

            <p class="media-heading h4">
                <small> حول{{ target.year }}-{{ target.month }}-{{ target.day }}</small>
            </p>

            <br>

            <p class="media-heading h4">
                بصورة شاملة
            </p>

            <p class="media-heading h4">
                <small><i>{{ overall.quote_arabic }}</i></small>
            </p>
            <p>
                {{ overall.arabic|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                المشاعر
            </p>

            <p class="media-heading h4">
                <small><i>{{ emotion.quote_arabic }}</i></small>
            </p>
            <p>
                {{ emotion.arabic|linebreaksbr }}
            </p>

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

            <p class="media-heading h4">
                حب
            </p>

            <p class="media-heading h4">
                <small><i>{{ love.quote_arabic }}</i></small>
            </p>
            <p>
                {{ love.arabic|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                مال
            </p>

            <p class="media-heading h4">
                <small><i>{{ money.quote_arabic }}</i></small>
            </p>
            <p>
                {{ money.arabic|linebreaksbr }}
            </p>

            <br>

            <div class="col-xs-12 padding_side_5">
                {% include 'ad/_ad_square_detail.html' %}
            </div>

            <br>

            <p class="media-heading h4">
                العلاقات
            </p>

            <p class="media-heading h4">
                <small><i>{{ relationships.quote_arabic }}</i></small>
            </p>
            <p>
                {{ relationships.arabic|linebreaksbr }}
            </p>

            <br>

            <p class="media-heading h4">
                عمل
            </p>

            <p class="media-heading h4">
                <small><i>{{ work.quote_arabic }}</i></small>
            </p>
            <p>
                {{ work.arabic|linebreaksbr }}
            </p>

            <br>

        </div>
    </div>
</div>
<div class="col-sm-2 padding_side_5 mobile_display_none" id="div_side_scrapper">
    {% include 'ad/_ad_side_scrapper.html' %}
</div>
